* {
    font-family: sans-serif;
    outline: none;
}

.formulario {
    width: 30%;
    margin: auto;
}

.formulario input {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background-color: #EBEBEB;
}

.formulario button {
    width: 100%;
    background-color: #4B4BEE;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
}

.titulo {
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;
    font-weight: 300;
}